html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: none;
}

#block {
    position: absolute; top: 0; left: 0;
    width: 100px;
    height: 100px;
    background-color: black;
}
